<div class="admin-dashboard">
    <!-- Sidebar -->
    <aside class="sidebar">
      <div class="logo">GreenCarWash Admin</div>
      <nav class="nav-links">
        <a routerLink="/admin" routerLinkActive="active">Dashboard</a>
        <a routerLink="/admin/viewusers" routerLinkActive="active">User Management</a>
        <a routerLink="/admin/package-management" routerLinkActive="active">Services & Add-ons</a>
        <a routerLink="/admin/register">Add New Admin</a>
        <a routerLink="/admin/reports" routerLinkActive="active">Reports</a>
        <a routerLink="/admin/leaderboard" routerLinkActive="active">Leaderboard</a>
      </nav>
    </aside>
    </div>
    